body,html {
  height: 100%;
  min-height: 100%;
}

.black-bg-color {
  background-color: rgba(0,0,0, 0.8);
}

header {
  width: 100%;
  height: 100% !important;
  min-height: 100% !important;
  color: #ffffff;
  position: relative;
  z-index: 2;
  background: url("../images/header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

header::before {
   background-color: rgba(0,0,0,.3);
   position: absolute;
   content: '';
   height: 100%;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

h1,h2,h3 {
  text-transform: uppercase;
  font-weight: bold;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #777777;
  font-size: 0.9375rem;
  line-height: 1.7;
}

.navbar {
   transition: all .7s ease-in-out;
}

.navbar .navbar-brand {
   opacity: 0;
   text-transform: uppercase;
   font-weight: bold;
   transition: all .7s ease-in-out;
}

.navbar.black-bg-color .navbar-brand {
   opacity: 1;
}

.navbar li.nav-item a {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  border-color: rgba(255, 255, 255, 1);
}

.active-link {
   color: rgb(173, 82, 145) !important;
}

.purple-bg-color {
   background-color: rgb(173, 82, 145) !important;
}

h1 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-size: 4.5rem;
}

.arrow-down {
   position: absolute;
   bottom: 2%;
   left: 50%;
   transform: translateX(-50%);
}

.arrow-down i {
   font-size: 6rem;
   color: #ffffff;
}

p.description {
  font-size: 1.25rem;
}

.section-large {
  padding: 6.25rem 0px;
  height: auto;
  position: relative;
  z-index: 1;
}

.section-bg-color-1 {
  background-color: #ffffff;
  /* background-color: red; */
}

.section-bg-color-2 {
  background-color: #f8f9f9;
  /* background-color: red; */
}

/* O NAS */


/* PARALLAX */

.parallax-bg {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;;
}

.parallax-image-1 {
  background-image: url('../images/parallax.jpg');
}



/* KIERUNKI DZIAŁALNOŚCI */

.kierunki-item {
  background-color: #ffffff;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  margin: 20px 0;
  padding: 50px;
  position: relative;
}

.kierunki-item p {
   text-align: justify;
   /* float: left !important; */
}

.kierunki-item a {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.kierunki-item i {
  color: rgb(127, 159, 171);
  font-size: 44px;
  cursor: pointer;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: all .6s ease-in-out;
}

.kierunki-item a:hover i{
  color: rgb(173, 82, 145) !important;
}

.kierunki-item i.active {
  color: rgb(173, 82, 145) !important;
  transform: rotateX(180deg);
}

.kierunki-item img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* KONTAKT */

#kontakt label {
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 1.5px;
}

#kontakt button {
   letter-spacing: 1px;
}

#kontakt button:hover {
   background-color: rgb(157, 62, 128) !important;
}

/************ WALIDACJA FORMULARZA **************/

.form input[type=text].error,
.form input[type=email].error,
.form textarea.error {
    border-color: #E01546;
}
.field-error {
    color: #E01546;
    padding:0.5rem 0;
    font-size:0.8rem;
}

.form .send-error {
    display:inline-block;
    font-family: sans-serif;
    padding:1rem 2rem;
    color:red;

    @media screen and (max-width:500px) {
            text-align:center;
            display: block;
    }
}

.form-send-success {
    font-family: sans-serif;
    text-align:center;
    font-size:2rem;
    font-weight:bold;
    color:#333;
    padding:10rem 0;
    margin:3rem auto;
    max-width:40rem;
}

.form-send-success strong {
    display:block;
    margin-bottom:0.5rem;
}

.form-send-success span {
    font-size:1rem;
    color:#888;
    font-weight:normal;
    display: block;
}

.form .honey-row, #kontakt .form-success {
    display:none !important;
}


   
/******** LOADING SEND DATA *********/

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}

.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


/******** GOOGLE MAP **********/

.google-map {
  width: 100% !important;
  height: 40vh !important;
  margin: 0 auto!important;
  padding: 0 !important;
  max-width: 100%;
}

.google-map .row {
  width: 100% !important;
  height: 100% !important;
}

.google-map iframe {
  width: 100% !important;
  height: 100% !important;
}


/* FOOTER */

footer {
  height: auto;
  background-color: rgba(0,0,0, 1);
}


footer h3, h2.data {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 2px;

}

footer i {
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  margin-right: 10px;
  color: #777777;
}

footer a {
  padding-left: 0 !important;
  color: #777777;
  width: auto;
  line-height: 10px;
  font-size: 0.9375rem;
}

footer a:hover {
  color: #ffffff !important;
}

.copy {
  text-align: center;
  height: auto;
  padding: 10px;
  background-color: rgb(19, 20, 19);
}
.copy p {
    font-size: 12px;
    margin: 0;
}



/* SLIDE IN ANIMATION */

.slide-in {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.slide-in.active {
  opacity: 1;
  transform: translate(0%) !important;
}









/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .slide-left {
    transform: translateX(-50px);
  }

  .slide-right {
    transform: translateX(50px);
  }


}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  font-size: 3.125rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }


@media (max-width: 768px) {
   .navbar {
     background-color: rgba(0,0,0,1);
   }
}

@media (max-width: 576px) {
   h1 {
      font-size: 60px;
      font-size: 3rem;
   }

   .arrow-down i {
      font-size: 4rem;
   }
}
